
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: black;
  opacity: 0.5;
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  row-gap: 10px;
}

.credits {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: black;
  opacity: 0.5;
  color: white;
  padding: 5px;
  row-gap: 10px;
}

p {
  margin: 5px;
  font-family: monospace;
  font-size: 12px;
  letter-spacing: 0.75px;
}

@media (max-width: 768px) {
  .mobile-container {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh; /* modern mobile browsers */
    background-color: #000;
  }
}

.desktop-container {
  display: none;
}

/* Desktop-only container */
@media (min-width: 769px) {
  .desktop-container {
    display: block;
    width: 100%;
    height: 100vh;
  }
}